<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="File" filename = "Logs/prints.log" filePattern =
                "Logs/prints-%d{yyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size = "500"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name = "LinkSize" level = "trace" additivity = "false">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
